{%- if settings.form_newsletter_show -%}
  <div class="section-form" id="section-form">
    <link rel="preload stylesheet" href="{{ 'am-index-newsletter.scss.css' | asset_url }}" as="stylesheet">
    <script fetchpriority="low" type="text/javascript" defer src="{{ 'am-index-newsletter.js' | asset_url }}"></script>
  	<div class="container">
      <div class="home-form-wrap d-flex flex-wrap justify-content-center">
        <div class="home-form-banner">
          <img class="lazyload" width="400" height="450" loading="lazy" decoding="async" src="{{ settings.form_newsletter_banner }}" alt="{{settings.form_newsletter_title_2}}"/>
        </div>
        <div class="home-form-content">
      		<div class="heading-title heading-title-line">
      			{%if settings.form_newsletter_title_1 != ''%}<p class="title1">{{settings.form_newsletter_title_1}}</p>{%endif%}
      			{%if settings.form_newsletter_title_2 != ''%}<h2 class="title2">{{settings.form_newsletter_title_2 | newline_to_br}}</h2>{%endif%}
      		</div>
          <div class="home-form">
            {%- capture formContactnewsletter -%}
            {%- form 'contact' -%}
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input required type="text" name="contact[name]" class="form-control" placeholder="Tên của bạn" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input required type="text" name="contact[email]" class="form-control" placeholder="Email của bạn" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input pattern="[0-9]{10,12}" required type="text" name="contact[phone]" class="form-control" placeholder="Số điện thoại của bạn" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <textarea name="contact[body]" placeholder="Nội dung cần tư vấn..."></textarea>
                    <div class="agrimarket-sitebox-recaptcha hidden" >
                      This site is protected by reCAPTCHA and the Google
                      <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
                      and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12 newsletter-action">
                  <button class="agrimarket-button agrimarket-dark agrimarket-cta-submitform">
                    {{settings.form_newsletter_btn}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                      <path d="M4.6665 9.99984H16.3332M16.3332 9.99984L10.4998 4.1665M16.3332 9.99984L10.4998 15.8332" stroke="#FAF9F6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
            {%- endform -%}
					{%- endcapture -%}
            {{ formContactnewsletter | replace: 'script','noscript'}}
          </div>
        </div>
      </div>
  	</div>
  </div>
  {%endif%}