<div class="agrimarket-sitenav-wrapper agrimarket-sitenav-left agrimarket-sitenav-menu">
	<div class="agrimarket-sitenav-inner">
		<div class="agrimarket-sitenav-header">
      {%- if settings.agrimarket_shop_google_translate -%}
        <div class="agrimarket-menu-translate theme-translate-mobile-container">
          {%- include 'theme_google_translate' -%}
        </div>
      {%- else -%}
			<p class="agrimarket-sitenav-header__title">Danh mục</p>
        {%- endif -%}
			<a name="button-close" class="agrimarket-sitenav-header__btn agrimarket-btn-sitenav-close">
				<svg viewBox="0 0 19 19" role="presentation"><path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd"></path></svg>
			</a>
		</div>
		<div class="agrimarket-sitenav-content">
			<div class="agrimarket-menu-mobile--wrap">
				<ul class="agrimarket-menuList-links">
					{% for link in linklists[settings.agrimarket_mainmenu_link].links limit: 10 %}
					{% if linklists[link.handle].links == empty %}				
					<li class="{% if link.active %} active {% endif %}"><a href="{{link.url}}" title="{{link.title}}"><span>{{link.title}}</span></a></li>
					{% else %}
					<li class="agrimarket-has-submenu agrimarket-level0 {% if link.active %} active {% endif %}">
						<a href="{{ link.url }}" title="{{link.title}}">{{ link.title }} <span class="agrimarket-icon-plus-submenu agrimarket-plus-nClick1"></span></a>
						<ul class="agrimarket-submenu-links">
							{% for link2 in linklists[link.handle].links %}
							{% if linklists[link2.handle].links == empty %}
							<li><a href="{{ link2.url }}" title="{{link2.title}}">{{ link2.title }}</a></li>
							{% else %}
							<li class="agrimarket-has-submenu agrimarket-level1">
								<a href="{{ link2.url }}">{{ link2.title }}  <span class="agrimarket-icon-plus-submenu agrimarket-plus-nClick2"></span></a>
								<ul class="agrimarket-submenu-links" >
									{% for link3 in linklists[link2.handle].links %}						
									<li class=""><a href="{{ link3.url }}" title="{{link3.title}}" >{{ link3.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</li>
					{% endif %}
					{% endfor%}
				</ul>	
			</div>
		</div>
		<div class="agrimarket-sitenav-footer">
			<div class="agrimarket-mobile-menu__section agrimarket-mobile-menu__section--loose">
				<p class="agrimarket-mobile-menu__section-title">Bạn cần hỗ trợ?</p>
				{%- if settings.agrimarket_hottline_mb != '' -%}
				<div class="agrimarket-mobile-menu__help-wrapper">
					<svg class="icon icon--bi-phone" viewBox="0 0 24 24" role="presentation">
						<g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
							<path d="M17 15l-3 3-8-8 3-3-5-5-3 3c0 9.941 8.059 18 18 18l3-3-5-5z" stroke="{{settings.agrimarket_shop_text_color}}"></path>
							<path d="M14 1c4.971 0 9 4.029 9 9m-9-5c2.761 0 5 2.239 5 5" stroke="{{settings.agrimarket_shop_text_color}}"></path>
						</g>
					</svg>
					<a class="agrimarket-cta-clicktocall" href="tel:{{ settings.agrimarket_hottline_mb | replace: '.', ''| replace: ' ', ''}}" rel="noopener">{{ settings.agrimarket_hottline_mb }}</a>
				</div>
				{%- endif -%}
				{%- if settings.agrimarket_email_mb != '' -%}
				<div class="agrimarket-mobile-menu__help-wrapper">
					<svg class="icon icon--bi-email" viewBox="0 0 22 22" role="presentation">
						<g fill="none" fill-rule="evenodd">
							<path stroke="{{settings.agrimarket_shop_text_color}}" d="M.916667 10.08333367l3.66666667-2.65833334v4.65849997zm20.1666667 0L17.416667 7.42500033v4.65849997z"></path>
							<path stroke="{{settings.agrimarket_shop_text_color}}" stroke-width="2" d="M4.58333367 7.42500033L.916667 10.08333367V21.0833337h20.1666667V10.08333367L17.416667 7.42500033"></path>
							<path stroke="{{settings.agrimarket_shop_text_color}}" stroke-width="2" d="M4.58333367 12.1000003V.916667H17.416667v11.1833333m-16.5-2.01666663L21.0833337 21.0833337m0-11.00000003L11.0000003 15.5833337"></path>
							<path d="M8.25000033 5.50000033h5.49999997M8.25000033 9.166667h5.49999997" stroke="{{settings.agrimarket_shop_text_color}}" stroke-width="2" stroke-linecap="square"></path>
						</g>
					</svg>
					<a href="mailto:{{ settings.agrimarket_email_mb }}" rel="nofollow">{{ settings.agrimarket_email_mb }}</a>
				</div>
				{%- endif -%}
			</div>
		</div>
	</div>
	<div class="agrimarket-sidebar-overlay"></div>
</div>